/*  The config file lets you decouple the workflow implementation from the 
    configuration setting. 

    By default, Nextflow looks for the 'nextflow.config' file in the current directory
    and the script base directory. It also looks for the `$HOME/.nextflow/config`.
    When multiple of these files exists, their information is merged before execution
    of the pipeline.

    The configuration file can also be specified using the option `-c <config.file>`
*/ 

params.foo = 'óla' 
params.bar = 'Mundo!' // <- params in config file override the ones in other scripts

env.ALPHA = 'some value'
env.BETA = "$HOME/some/path" 
    // <- the 'env' scope defines variables to be exported into the execution environment